junk
src/Models
src/__pycache__
tutorial/an4
DNN/
pocketsphinx/
sphinxtrain/
~/
.vscode/
dataset/*
tutorial/dataset/Audio/*
tutorial/dataset/wav/*
tutorial/dataset/feat/*
tutorial/dataset/Label/*
tutorial/dataset/trees/*
tutorial/dataset/model_parameters/*
tutorial/dataset/logdir/*
tutorial/dataset/bwaccumdir/*
tutorial/dataset/model_architecture/*
tutorial/dataset/result/*